# requirements.txt
# Dependencias del proyecto Registro Deportivo

# Herramienta para empaquetar el programa como ejecutable portable
PyInstaller==6.14.2

# Futuras dependencias (opcional, descomenta si las usas)
# matplotlib==3.7.1        # Para gráficos
# pandas==2.0.3            # Para análisis de datos
# sqlite3                  # Ya está incluido en Python, no se instala


# Flujo para usar requirements.txt
#En otra máquina o después de clonar el repositorio:

# Clonar el proyecto
git clone https://github.com/carlos2010maciel/registro-deportivo.git 
cd registro-deportivo

# Crear entorno virtual
python3 -m venv venv

# Activar entorno
source venv/bin/activate   # Linux
# venv\Scripts\activate     # Windows

# Instalar dependencias
pip install -r requirements.txt